.banner{
    height: 100vh;
    background-image: url('../../assets/img/home-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    text-align: center;
}
.banner .overlay h1{
    font-size:70px;
    margin-bottom: 20px;
    font-weight: bold;
}
.banner .overlay p{
    font-size:18px;
    margin-bottom: 30px;
    font-weight: 500;
}
.overlay .btn{
    padding: 8px 30px;
    font-size:17px;
    font-weight: 500;
    background-color: #27a2a5;
    border:1px solid #27a2a5;
}
.overlay .btn a{
    color:#ffffff;
    text-decoration: none;
}

.services{
    padding:100px 0px;
}
.services button a{
    color:#ffffff;
    text-decoration: none;
}
.heading{
    margin-bottom: 50px;
}
.heading p{
    color:#27a2a5;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.aboutus .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: right;
}
.chooseus .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.chooseus .left{
    text-align: right;
}
.right .head-key{
    position: relative;
}
.right .head-key:after{
    width:20%;
    content:'';
    height:2px;
    background-color: aqua;
    position: absolute;
    bottom: -5px;
    left:0;
}
.keys{
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
    width:60%;
}
.keys li{
    font-size:20px;
    list-style: none;
    font-weight: 600;
}